@import "tailwindcss";

:root {
  --theme-blue: #5c7fa3;
}

.border-theme-blue {
  border-color: var(--theme-blue);
}

.bg-theme-blue {
  background-color: var(--theme-blue);
}

.text-theme-blue {
  color: var(--theme-blue);
}
